<template name="about_us">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 padd-20 text-center">
            <h1 class="custom-color-orange _23">ABOUT US</h1>
            <div class="col-xs-12 bordered-bottom-top  top-20 _12">
                F1 Hotel Manila is the first hotel to open at the dynamic Bonifacio Global City in Metro Manila. This distinction is synonymous to upscale accommodation and the highest standards of services, facilities and amenities to its distinguished clientele.<br/>

               <br/> Centrally located within walking distance to corporate offices, shopping centers, upscale boutique shops, recreational facilities and an internationally renowned medical institution, F1 Hotel puts you at the center of where the action is whether for business or pleasure and is a major hub and meeting place within the ever expanding Bonifacio Global City. It is a short drive to domestic & international airports and transit terminals, the Makati CBD, the Ortigas CBD, as well as major cities in the metropolis.
            </div>
        </div>
    </div>
</template>