<template name="celebrate">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 padd-20 text-center">
            <h1 class="custom-color-orange _23">CELEBRATE</h1>
            <div class="col-xs-12 bordered-bottom-top  top-20 _12">
                There is always something about life to celebrate at F1 Hotel Manila. Be it grandiose weddings, fabulous debuts, formal corporate functions to small, intimate gatherings, F1 Hotel has the best venues and set-ups for your needs. The finely appointed and state-of-the-art facilities and amenities of the hotel can help you with all your meetings and events requirements. Discreet personalized service coupled with modern world-class facilities and amenities make F1 Hotel Manila your best choice.
            </div>
        </div>
    </div>
</template>