<template name="dinning">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="bottom-brown">
            <h2 class="text-center custom-color-orange">DINING</h2>
        </div>

        <div class="col-xs-12 no-padd top-40">
            <div class="col-xs-12 col-md-6 " >
                <img src="/dine/img1.jpg" class="col-xs-12 padd-10 img-thumbnail">
            </div>
            <div class="col-xs-12 col-md-6 no-padd">
                <div class="bordered-bottom-top-gray">
                    <h5 class="bold text-left custom-color-orange">CANARY LOUNGE</h5>
                </div>
                <small class="_12 custom-color-brown">Canary Lounge gives its guest a breath-taking night view of the majestic cityscape of the Fort. Beside the lounge are the hotel’s three (3) pools, making the ambiance closely similar to the Canary Islands. Lights, chimes, and wooden furniture are also added to complete the theme. Innovations are also sprinkled around the area as modern designs and materials spice up the venue.</small>
            </div>
        </div>


        <div class="col-xs-12 no-padd top-40">
            <div class="col-xs-12 col-md-6 ">
                <img src="/dine/img2.jpg" class="col-xs-12 padd-10 img-thumbnail">
            </div>
            <div class="col-xs-12 col-md-6 no-padd">
                <div class="bordered-bottom-top-gray">
                    <h5 class="bold text-left custom-color-orange">ALL DAY DINING</h5>
                </div>
                <small class="_12 custom-color-brown">F All Day Dining Restaurant offers a wide array of international cuisines. With dishes meticulously crafted by our world-class culinary masters, expect a gastronomical adventure that will take you places.</small>
            </div>
        </div>
    </div>
</template>