<template name="index">
        <div class="col-xs-12">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-xs-12 padd-20 text-center">
                    <h1 class="custom-color-orange _50">WELCOME</h1>
                    <p class="custom-color-brown italic _17  georgia">"F1 Hotel Manila is not just your perfect place to stay at BGC.<br/>
                        It is your home of happy experiences."</p>
                </div>

                <div class="col-xs-12 bordered-bottom-top georgia">
                    Visit us on 32nd Street, Bonifacio Global City, Taguig, just behind St Luke's Medical Center.
                </div>

                <div class="col-xs-12 top-20">
                    <div class="col-sm-4 ">
                        <div class="col-xs-12 padd-5 ">
                            <img src="/thumb1.png" class="col-xs-12 no-padd bottom-20">
                            <div class=" bordered-bottom-top-gray italic col-xs-12 custom-color-gray">
                                <small>3 Day Sale Make your reservation at F1 Hotel Manila's booth to avail up to 60% discount...</small>
                                <a class="pull-right bold _12 top-10 georgia non-italic custom-color-brown">LEARN MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 ">
                        <div class="col-xs-12 padd-5 ">
                            <img src="/thumb2.png" class="col-xs-12 no-padd bottom-20">
                            <div class=" bordered-bottom-top-gray italic col-xs-12 custom-color-gray">
                                <small>November Joy of Thanksgiving Spend time with your family and loved ones in a hearty lunch or...	</small>
                                <a class="pull-right bold _12 top-10 georgia non-italic custom-color-brown">LEARN MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 ">
                        <div class="col-xs-12 padd-5 ">
                            <img src="/thumb3.png" class="col-xs-12 no-padd bottom-20">
                            <div class=" bordered-bottom-top-gray italic col-xs-12 custom-color-gray">
                                <small>Merienda Cena Series November | Pizza and Pasta Everybody’s favorite comfort foods.Tag...	</small>
                                <a class="pull-right bold _12 top-10 georgia non-italic custom-color-brown">LEARN MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 ">
                        <div class="col-xs-12 padd-5 ">
                            <img src="/thumb4.png" class="col-xs-12 no-padd bottom-20">
                            <div class=" bordered-bottom-top-gray italic col-xs-12 custom-color-gray">
                                <small>Make the most out of your life’s celebrations. We are giving you more convenient ways and...		</small>
                                <a class="pull-right bold _12 top-10 georgia non-italic custom-color-brown">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>