<template name="news">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="bottom-brown">
            <h2 class="text-center custom-color-orange">WHAT'S NEW</h2>
        </div>

        <div class="col-xs-12 no-padd top-40">
            <div class="col-xs-12 col-sm-6 " >
                <img src="/news/img1.png" class="col-xs-12 padd-10 img-thumbnail">
            </div>
            <div class="col-xs-12 col-sm-6 no-padd">
                <div class="bordered-bottom-top-gray">
                    <h5 class="bold text-left custom-color-orange">HAPPY HALLOW-WIN A STAYCATION!</h5>
                </div>
                <br/><label class="custom-color-brown">October 8, 2015</label><br/>
                <small class="_12 custom-color-brown">HAPPY HALLOW-WIN A STAYCATION! Win a family Halloween staycation on October 30, 2015 with buffet breakfast for four (4) and four (4) passes to the House of Villains on October 31,...</small>
                <br/>
                <br/>
                <a href="/news1" class="pull-right custom-color-brown bold _12 point fhoverorange1"><i class="glyphicon glyphicon-play"></i> READ MORE</a>
            </div>
        </div>


        <div class="col-xs-12 no-padd top-40">
            <div class="col-xs-12 col-sm-6 ">
                <img src="/news/img2.png" class="col-xs-12 padd-10 img-thumbnail">
            </div>
            <div class="col-xs-12 col-sm-6 no-padd">
                <div class="bordered-bottom-top-gray">
                    <h5 class="bold text-left custom-color-orange">House of Villains Halloween Event</h5>
                </div>
                <br/><label class="custom-color-brown">September 29, 2015</label><br/>
                <small class="_12 custom-color-brown">F All Day Dining Restaurant offers a wide array of international cuisines. With dishes meticulously crafted by our world-class culinary masters, expect a gastronomical adventure that will take you places.</small>
                <br/>
                <br/>
                <a href="/news2" class="pull-right custom-color-brown bold _12 point fhoverorange1"><i class="glyphicon glyphicon-play"></i> READ MORE</a>
            </div>
        </div>
    </div>
</template>

<template name="news1">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="bottom-brown">
            <h2 class="text-center custom-color-orange">WHAT'S NEW</h2>
        </div>
        <div class="col-xs-12 no-padd top-40">
            <div class="col-xs-12 col-sm-6 " >
                <img src="/news/img3.png" class="col-xs-12 padd-10 img-thumbnail">
            </div>
            <div class="col-xs-12 col-sm-6 no-padd">
                <div class="bordered-bottom-top-gray">
                    <h5 class="bold text-left custom-color-orange">HAPPY HALLOW-WIN A STAYCATION!</h5>
                </div>
                <br/><label class="custom-color-brown">October 8, 2015</label><br/>
                    <small class="_12 custom-color-brown">
                        HAPPY HALLOW-WIN A STAYCATION!<br/>
                        Win a family Halloween staycation on October 30, 2015 with buffet breakfast for four (4) and four (4) passes to the House of Villains on October 31, 2015.<br/>
                        Mechanics:<br/>
                        1. Interested participants must like F1 Hotel Manila’s Facebook and Twitter, Instagram accounts (Facebook.com/f1hotelmanila) (@f1hotelmanila).<br/>
                        2. A special Halloween cupcake for only Php 100 each will be on sale from October 10 to 25, 2015 available at F All Day Dining Restaurant.<br/>
                        3. Visit F1 Hotel Manila, buy and take a selfie with or a photo of the purchased Halloween cupcake in your most creative way.<br/>
                        4. Upload it in your Facebook or Instagram accounts along with the caption: “Happy Halloween from F1 Hotel Manila!” and use the hashtags ?#?halloween? ?#?houseofvillains? ?#?F1HotelManila? ?#?BGC? on your posts. Don’t forget to tag our official accounts to your photos.<br/>
                        5. Show your post to one of our receptionist at F All Day Dining Restaurant to be able to get a raffle stub to be able to get a chance to win the prize.<br/>
                        6. One (1) raffle stub for each purchased cupcake shall be issued to participants.<br/>
                        7. One (1) lucky winner shall be given the prize at stake: an overnight stay for a family of four (4) on October 30, 2015, with buffet breakfast and passes for four (4) people to our Halloween event on October 31, 2015 via raffle draw.<br/>
                        8. The draw and the announcement of winner shall be on October 26, 2015, and shall be posted in our official Facebook, Instagram and Twitter accounts.<br/>
                        9. The management reserves the right to disqualify entries that will seem to be fraudulent, derogatory and/or damaging to the interest of the hotel, its management and staff, and its guests.<br/>
                        10. Employees of F1 Hotel Manila, its advertising agencies, suppliers and contractors and their relatives up to the second degree of consanguinity or affinity are disqualified from joining the promo.<br/>
                        #halloween #houseofvillains #F1HotelManila #BGC<br/>

                    </small>
                <br/>
                <br/>
                <a href="/news2" class="pull-right custom-color-brown bold _12 point fhoverorange1"><i class="glyphicon glyphicon-play"></i> NEXT</a>
            </div>
        </div>
    </div>
</template>


<template name="news2">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="bottom-brown">
            <h2 class="text-center custom-color-orange">WHAT'S NEW</h2>
        </div>
        <div class="col-xs-12 no-padd top-40">
            <div class="col-xs-12 col-sm-6 " >
                <img src="/news/img3.png" class="col-xs-12 padd-10 img-thumbnail">
            </div>
            <div class="col-xs-12 col-sm-6 no-padd">
                <div class="bordered-bottom-top-gray">
                    <h5 class="bold text-left custom-color-orange">House of Villains Halloween Event</h5>
                </div>
                <br/><label class="custom-color-brown">October 8, 2015</label><br/>
                <small class="_12 custom-color-brown">
                    MANILA, Philippines - Villains will conquer the town to spread fun and excitement this Halloween season. It’s the gathering of the most notorious, villains at F1 Hotel Manila’s House of Villains. Follow the path of darkness and head you way to Infinity Ballroom on October 31, 2015 from 10AM to 2PM, to join the Villains Council in crafting magic spells that are sure to bestow everybody with and enchantingly wicked Halloween!

                    <br/><br/>There’s not a minute to spare as all villains are requested to convene at the mighty Dragon’s lair to enjoy some merriments that include: Trick-or-Treat, Balloon Twisting, Kids’ Salon, Glitter Tattoo, Donut Decorating, Games, Face Painting and more. Wear your finest robes and put on your best shoes as the best dressed villain shall be generously rewarded. Reign supreme and you may instantly win an overnight stay!

                    <br/><br/>Tickets to the House of Villains are priced at Php 899 nett per person including brunch. Kids aged two (2) and below are free of charge. Adult companions and guardians are charged at full ticket price. Get 50% off on lunch or dinner buffet when you present your event ticket at F All Day Dining Restaurant from October 1 to November 7, 2015. For ticket reservations, call (02) 928-8888.

                    <br/><br/>F1 Hotel Manila is located at 32nd street, Bonifacio Global City, Taguig City. For inquiries and reservations, please call (02) 928-9888. For online booking and more information, please visit www.f1hotelmanila.com. For hotel updates and special offerings, follow us on Facebook, Twitter and Instagram @f1hotelmanila.

                </small>
                <br/>
                <br/>
                <a href="/news1" class="pull-right custom-color-brown bold _12 point fhoverorange1"><i class="glyphicon glyphicon-play"></i> PREVIOUS</a>
            </div>
        </div>
    </div>
</template>