<template name="sleep">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="bottom-brown">
            <h2 class="text-center custom-color-orange">SLEEP</h2>
        </div>

        <div class="top-20">
            <div class="col-xs-12 no-padd">
                <div class="col-xs-12 col-md-6 no-padd">
                    <img src="/sleep/img1.jpg" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <small class="custom-color-brown">F'1 Hotel has 243 stylish guest rooms with 3 room categories - Deluxe Rooms, City Suite and Fort Suite, to give its guests a luxurious experience. All rooms are well appointed and include a choice of king or double bed. Each room is equipped with an individually controlled air conditioning system, a minimum of 2 line NDD/IDD access telephones, work desk with internet ports, electronic safe, coffee & tea - making facility, LCD TV, iPod dock with radio and alarm, and walk-in shower.</small>
                    <br/><br/><br/>
                    <h5 class="bold custom-color-orange">ROOMS</h5>
                    <a href="/rooms/deluxe" class="custom-color-brown _12 underlined point fhoverorange1"><i class="glyphicon glyphicon-arrow-right"> </i> Deluxe Room</a><br/>
                    <a href="/rooms/city"  class="custom-color-brown _12 underlined point fhoverorange1"><i class="glyphicon glyphicon-arrow-right"> </i> City Suite</a><br/>
                    <a href="/rooms/fort"  class="custom-color-brown _12 underlined point fhoverorange1"><i class="glyphicon glyphicon-arrow-right"> </i> Fort Side</a>
                </div>
            </div>

            <div class="col-xs-12 no-padd top-40">
                <div class="col-xs-12 col-md-6 no-padd">
                    <img src="/sleep/img2.jpg" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <h5 class="bold custom-color-orange gray-bottom ">FACILITIES & AMENITIES (FOR F1 HOTEL MANILA)</h5>
                    <small class="custom-color-brown _12">
                        Meetings and Events Facilities<br/>
                        4 level car park<br/>
                        Wi-Fi in all rooms and public areas<br/>
                        3 Swimming Pools<br/>
                        Concierge Services<br/>
                        Spa & Wellness Center<br/>
                        24-hour Guest Services<br/>
                        All-Day Dining Restaurant at the 3rd Level<br/>
                        24 hour security<br/>
                        In-Room Dining<br/>
                        24-hour Fitness Hub<br/>
                        Laundry & Valet Service<br/>
                        Babysitting Services<br/>
                        Transportation Service<br/>

                    </small>
                </div>
            </div>


            <div class="col-xs-12 no-padd top-40">
                <div class="col-xs-12 col-md-6 no-padd" >
                    <img src="/sleep/img3.jpg" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <div class="bordered-bottom-top-gray">
                        <h5 class="bold text-left custom-color-orange">PREMIER LOUNGE</h5>
                    </div>
                    <small class="_12 custom-color-brown">Spending a restful night in one of our Suites will be rewarding as you experience glamour and sophistication in our Premier Lounge. With a view of the Bonifacio Global City landscape, enjoy our renowned personalized service with your favorite snack or drinks. Facilities and services exclusive to Premier Lounge guests include access to the private library, complimentary breakfast, afternoon tea and cocktails served daily.</small>
                </div>
            </div>


            <div class="col-xs-12 no-padd top-40">
                <div class="col-xs-12 col-md-6 no-padd">
                    <img src="/sleep/img4.jpg" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <div class="bordered-bottom-top-gray">
                        <h5 class="bold text-left custom-color-orange">SWIMMING POOL</h5>
                    </div>
                    <small class="_12 custom-color-brown">Make a splash during your stay at F1 Hotel Manila as you enjoy the afternoon at our three (3) different pools. Toddlers can enjoy the waters of our Kiddie Pool while adults can swim a lap or two in our Infinity Lap Pool. For parents who want to take a plunge with their children, the Family Pool is your perfect spot under the sun.</small>
                </div>
            </div>


            <div class="col-xs-12 no-padd top-40">
                <div class="col-xs-12 col-md-6 no-padd">
                    <img src="/sleep/img5.jpg" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <div class="bordered-bottom-top-gray">
                        <h5 class="bold text-left custom-color-orange">FITNESS CENTER</h5>
                    </div>
                    <small class="_12 custom-color-brown">Stay in shape and burn those calories from your sumptuous buffet and hit F1 Hotel Manila's Fitness Center. Fully-equipped with treadmills, weights, and other gym equipment, our Fitness Center is guaranteed to give you that light feeling.</small>
                </div>
            </div>


            <div class="col-xs-12 no-padd top-40">
                <div class="col-xs-12 col-md-6 no-padd">
                    <img src="/sleep/img6.jpg" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <div class="bordered-bottom-top-gray">
                        <h5 class="bold text-left custom-color-orange">SPA AND WELLNESS</h5>
                    </div>
                    <small class="_12 custom-color-brown">Let our well trained therapist remove your stress as they give you the most relaxing massage experience. Pamper your way to sleep and feel fresh for tomorrow.</small>
                </div>
            </div>



            <div class="col-xs-12 no-padd top-40">
                <div class="col-xs-12 col-md-6 no-padd">
                    <img src="/sleep/img7.png" class="col-xs-12 padd-10">
                </div>
                <div class="col-xs-12 col-md-6 no-padd">
                    <div class="bordered-bottom-top-gray">
                        <h5 class="bold text-left custom-color-orange">TRANSPORTATION SERVICE</h5>
                    </div>
                    <small class="_12 custom-color-brown">May it be within or outside BGC, F1 Hotel Manila's transport service can drop off or pick you up at your desired areas. Comfortable F1 Hotel Manila vans and cars shall be used to make sure that your travel is as convenient and comfortable as possible.
                        <br/> Rates:
                        <br/>Airport Pick up/Drop off       Car: PHP1, 100 Van: PHP1, 900</small>
                </div>
            </div>



        </div>
    </div>
</template>


<template name="deluxe">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 bold class="custom-color-orange text-center">DELUXE ROOM</h2>
        <div class="top-20 bordered-bottom-top">
            <small>This room is the most fashion forward hub in F1 Hotel. Its stylish design and state of the art workplace will definitely win the heart of a classy businessman.</small>
        </div>
        <div class="col-xs-12 col-md-6">
            <h5 class="custom-color-orange top-20 bottom-20 bold">FACILITIES & AMENITIES</h5>
            <smal class="custom-color-brown _12">
                <i class="glyphicon glyphicon-play"></i> Meetings and Events Facilities <br/>
                <i class="glyphicon glyphicon-play"></i> 4 level car park<br/>
                <i class="glyphicon glyphicon-play"></i> Wi-Fi in all rooms and public areas<br/>
                <i class="glyphicon glyphicon-play"></i> 3 Swimming Pools <br/>
                <i class="glyphicon glyphicon-play"></i> Concierge Services<br/>
                <i class="glyphicon glyphicon-play"></i> Spa & Wellness Center <br/>
                <i class="glyphicon glyphicon-play"></i> 24-hour Guest Services <br/>
                <i class="glyphicon glyphicon-play"></i> All-Day Dining Restaurant at the 3rd Level<br/>
                <i class="glyphicon glyphicon-play"></i> 24 hour security <br/>
                <i class="glyphicon glyphicon-play"></i> In-Room Dining <br/>
                <i class="glyphicon glyphicon-play"></i> 24-hour Fitness Hub<br/>
                <i class="glyphicon glyphicon-play"></i> Laundry & Valet Service<br/>
                <i class="glyphicon glyphicon-play"></i> Babysitting Services <br/>
                <i class="glyphicon glyphicon-play"></i> Transportation Service<br/>
            </smal>

            <h5 class="custom-color-orange top-50 bottom-20 bold">CHECK-IN & CHECK-OUT </h5>
            <smal class="custom-color-brown _12">
                <i class="glyphicon glyphicon-play"></i> Check-in time: 2:00 PM <br/>
                <i class="glyphicon glyphicon-play"></i> Check-out time: 12:00 NN<br/>
            </smal>
        </div>
        <div class="col-xs-12 col-md-6 no-padd">
            <div class="detail-panel top-50">
                <div class="detail-panel-inner custom-color-brown">
                    <h5 class="custom-color-orange bold">ROOM RATE (PUBLISHED RATE) </h5>
                    <small class="detail bottom-brown">Room Type: <label class="pull-right normal fgray2">Deluxe Room</label></small><br/>
                    <small class="detail bottom-brown">Rate per night: <label class="pull-right normal fgray2">Php 9,500.00</label></small><br/>
                    <small class="detail bottom-brown">Max Capacity: <label class="pull-right normal fgray2">2 Adult/s, 2 Kid/s</label></small>
                    <small>Rate is inclusive of breakfast, applicable taxes and service charge.</small>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="city">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 bold class="custom-color-orange text-center">CITY SUITE</h2>
        <div class="top-20 bordered-bottom-top">
            <small>If your family or friends are looking for a spacious room with a unique interior, then the City Suite is the perfect nest for you. Chill, mingle, and enjoy as you got all the space to have a good time.</small>
        </div>
        <div class="col-xs-12 col-md-6">
            <h5 class="custom-color-orange top-20 bottom-20 bold">FACILITIES & AMENITIES</h5>
            <smal class="custom-color-brown _12">
                <i class="glyphicon glyphicon-play"></i> Meetings and Events Facilities <br/>
                <i class="glyphicon glyphicon-play"></i> 4 level car park<br/>
                <i class="glyphicon glyphicon-play"></i> Wi-Fi in all rooms and public areas<br/>
                <i class="glyphicon glyphicon-play"></i> 3 Swimming Pools <br/>
                <i class="glyphicon glyphicon-play"></i> Concierge Services<br/>
                <i class="glyphicon glyphicon-play"></i> Spa & Wellness Center <br/>
                <i class="glyphicon glyphicon-play"></i> 24-hour Guest Services <br/>
                <i class="glyphicon glyphicon-play"></i> All-Day Dining Restaurant at the 3rd Level<br/>
                <i class="glyphicon glyphicon-play"></i> 24 hour security <br/>
                <i class="glyphicon glyphicon-play"></i> In-Room Dining <br/>
                <i class="glyphicon glyphicon-play"></i> 24-hour Fitness Hub<br/>
                <i class="glyphicon glyphicon-play"></i> Laundry & Valet Service<br/>
                <i class="glyphicon glyphicon-play"></i> Babysitting Services <br/>
                <i class="glyphicon glyphicon-play"></i> Transportation Service<br/>
            </smal>

            <h5 class="custom-color-orange top-50 bottom-20 bold">CHECK-IN & CHECK-OUT </h5>
            <smal class="custom-color-brown _12">
                <i class="glyphicon glyphicon-play"></i> Check-in time: 2:00 PM <br/>
                <i class="glyphicon glyphicon-play"></i> Check-out time: 12:00 NN<br/>
            </smal>
        </div>
        <div class="col-xs-12 col-md-6 no-padd">
            <div class="detail-panel top-50">
                <div class="detail-panel-inner custom-color-brown">
                    <h5 class="custom-color-orange bold">ROOM RATE (PUBLISHED RATE) </h5>
                    <small class="detail bottom-brown">Room Type: <label class="pull-right normal fgray2">City Suite</label></small><br/>
                    <small class="detail bottom-brown">Rate per night: <label class="pull-right normal fgray2">Php 10,700.00</label></small><br/>
                    <small class="detail bottom-brown">Max Capacity: <label class="pull-right normal fgray2">2 Adult/s, 2 Kid/s</label></small>
                    <small>Rate is inclusive of breakfast, applicable taxes and service charge.</small>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="fort">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 bold class="custom-color-orange text-center">FORT SUITE</h2>
        <div class="top-20 bordered-bottom-top">
            <small>Inspired by the city of Fort, this room reflects Bonifacio Global City - premier, contemporary, and elite. For those guests who describe themselves like this elegant suite, then this will definitely suit your preference.
            </small>
        </div>
        <div class="col-xs-12 col-md-6">
            <h5 class="custom-color-orange top-20 bottom-20 bold">FACILITIES & AMENITIES</h5>
            <smal class="custom-color-brown _12">
                <i class="glyphicon glyphicon-play"></i> Meetings and Events Facilities <br/>
                <i class="glyphicon glyphicon-play"></i> 4 level car park<br/>
                <i class="glyphicon glyphicon-play"></i> Wi-Fi in all rooms and public areas<br/>
                <i class="glyphicon glyphicon-play"></i> 3 Swimming Pools <br/>
                <i class="glyphicon glyphicon-play"></i> Concierge Services<br/>
                <i class="glyphicon glyphicon-play"></i> Spa & Wellness Center <br/>
                <i class="glyphicon glyphicon-play"></i> 24-hour Guest Services <br/>
                <i class="glyphicon glyphicon-play"></i> All-Day Dining Restaurant at the 3rd Level<br/>
                <i class="glyphicon glyphicon-play"></i> 24 hour security <br/>
                <i class="glyphicon glyphicon-play"></i> In-Room Dining <br/>
                <i class="glyphicon glyphicon-play"></i> 24-hour Fitness Hub<br/>
                <i class="glyphicon glyphicon-play"></i> Laundry & Valet Service<br/>
                <i class="glyphicon glyphicon-play"></i> Babysitting Services <br/>
                <i class="glyphicon glyphicon-play"></i> Transportation Service<br/>
            </smal>

            <h5 class="custom-color-orange top-50 bottom-20 bold">CHECK-IN & CHECK-OUT </h5>
            <smal class="custom-color-brown _12">
                <i class="glyphicon glyphicon-play"></i> Check-in time: 2:00 PM <br/>
                <i class="glyphicon glyphicon-play"></i> Check-out time: 12:00 NN<br/>
            </smal>
        </div>
        <div class="col-xs-12 col-md-6 no-padd">
            <div class="detail-panel top-50">
                <div class="detail-panel-inner custom-color-brown">
                    <h5 class="custom-color-orange bold">ROOM RATE (PUBLISHED RATE) </h5>
                    <small class="detail bottom-brown">Room Type: <label class="pull-right normal fgray2">Fort Suite</label></small><br/>
                    <small class="detail bottom-brown">Rate per night: <label class="pull-right normal fgray2">Php 13,100.00</label></small><br/>
                    <small class="detail bottom-brown">Max Capacity: <label class="pull-right normal fgray2">2 Adult/s, 2 Kid/s</label></small>
                    <small>Rate is inclusive of breakfast, applicable taxes and service charge.</small>
                </div>
            </div>
        </div>
    </div>
</template>